
<div id="photo-detail-modal" class="hidden">
            <div class="image-container">
              <img src="{{photoURL}}" alt="{{caption}}" class="post-image"/>
            </div>
            <div class="caption-container">
                <p>{{caption}}</p>             
            </div>
    </div>
