<div class="404-container">
  <img src="https://www.factzoo.com/sites/all/img/mammals/rodents/swimming-beaver.jpg" alt="Beaver Swimming" id="404-pic"/>
  <h1>404</h1>
  <h3>Something went wrong, we could not find that page!</h3>
</div>
