<div class="error-container">
  <img src="https://www.factzoo.com/sites/all/img/mammals/rodents/swimming-beaver.jpg" alt="Beaver Swimming" id="error-pic"/>
  <h1>404</h1>
  <h3>Something went wrong, we could not find that page!</h3>
</div>
