 <div id="add-photo-modal" class="hidden">
      <div class="add-photo-element">
        <label for="add-photo-url">Photo URL:</label>
        <input type="text" id="add-photo-url">
      </div>
      <div class="add-photo-element">
        <label for="add-photo-caption">Caption:</label>
        <input type="text" id="add-photo-caption">
      </div>
      <div class="add-photo-buttons">
          <button type="submit" id="post-button">Post</button>
          <button type="reset" id="cancel-post-button">Cancel</button>
      </div>
</div>
