<button id="toggle-profile-button"><i class="fas fa-chevron-circle-left"></i></button>
   <div class="photo-content-container">
     
       <div id="photo-feed-container">
       
         
    <!-- call post partial for each photo -->
         
       </div>
     </div>
