body {
  margin: 0px;
}

#header-container {
  padding: 15px;
  height: 90px;
  width: auto;
  position: top;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #529EBF;
}

div.photo-content-container {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

img.header-image {
  height: 100px;
  width: auto;
  margin-left: -5%;
}

img:hover {
  cursor: pointer;
}

img.profile-picture {
    margin: 15px;
}

img.profile-image {
  width: 200px;
  height: auto;
}

aside.profile-container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 15px;
  align-items: center;
}

#profile-pics-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.profileStats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 20px;
    padding: 10px;
}

aside h3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Sans SC', sans-serif;
  text-decoration: underline;
  font-size: 25px;
  padding-bottom: 10px;
}

#profile-pics-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  max-height: auto;
}

div.search-button-container {
    align-content: right;
    display: flex;
}


main.site-contents-container {
    display: flex;
    justify-content: flex-start;
}

.site-title {
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 50px;
    position: relative;
    margin-right: 30px;
}

.site-title:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

footer#author-credit {
     font-family: 'Noto Sans SC', sans-serif;
     font-size: 15px;

}

#author-credit {
  display: flex;
  justify-content: flex-end;
  position: bottom;
  padding: 5px;
}

#insert-button {
  height: 65px;
  width: 65px;
  border-radius: 10px;
  background-color: #dab3ff;
  color: white;
  border: none;
}

#insert-button:hover {
  cursor: pointer;
}

#insert-button .fas.fa-plus {
  font-size: 50px;
}

#search-button:hover {
  cursor: pointer;

}

#search-text-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid white;
  border-radius: 1px;
  height: 40px;
  width: 300px;
  background-color: inherit;
  font-size: 25px;
  color: white;
}

#search-button {
  background-color: #7db6cf;
  border: none;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin-left: 10px;
}

.filter-input-container {
  color: white;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 25px;
}

#filter-profile {
  width: 100px;
  height: 35px;
  font-size: 20px;
  font-family: 'Noto Sans SC', sans-serif;
  color: #4d4d4d;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  background-color: #e6e6e6;
}


/* ASIDE STYLE */
#toggle-profile-button:hover {
  cursor: pointer;
}

#toggle-profile-button .fas.fa-chevron-circle-left:focus {
  background-color: #4d4d4d;
  color: #e6e6e6;
  border-radius: 50%;
  font-size: 50px;
}

#toggle-profile-button {
  border: none;
  background-color: #e6e6e6 /*white*/;
}

#toggle-profile-button .fas.fa-chevron-circle-left {
  background-color: #4d4d4d;
  color: #e6e6e6;
  border-radius: 50%;
  font-size: 50px;
}

aside #profile-container {
  position: fixed;
}

#profile-container {
  padding: 20px;
  height: 100%;
  min-height: 700px;
  max-width: 290px;
  background-color: #ffd9b3;
}
